.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid silver;
    width: 250px;
    padding: 0;
    margin: 20px;
    background: white;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.item-img {
    width: 100%;
}

.item-title {
    color: #594c34;
    font-size: 20px;
    padding: 10px 0;
}

.item-price {
    color: #575759;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 0;
}

.item-detail {
    color: white;
    background-color: #b39864;
    margin:20px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item-detail:hover {
    background-color: #c4ab7c;
}