.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid gray;
    margin: 30px;
    padding-bottom: 15px;
}

.cart-title {
    color: #b39864;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 30px;    
}

.item-containter {
    display: flex;
    justify-content: space-between;
    margin: 50px 50px;
    border-bottom: 0.5px solid gray;
}

.item-product {
    font-size: 20px;
    font-weight: bold;
    color: rgb(75, 74, 74);
    width: 250px;
}

.item-button {
    color: white;
    background-color: #b47a7a;
    padding: 4px 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 10px;
    border: none;
    cursor: pointer;
}

.total-item-containter {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.total-item {
    color: rgb(75, 74, 74);
    font-size: 20px;
    padding: 10px;
    margin-right: 200px;
}

.total-item-button {
    color: white;
    background-color: #b47a7a;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    cursor: pointer;
    text-decoration: none;
    padding: 6px;
}

.empty-cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart {
    font-size: 35px;
    color: rgb(75, 74, 74);
    margin-bottom: 20px;
}

.empty-cart-button {
    color: white;
    background-color: #789b75;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}
