*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 19, 19);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: black;
}

.menu {
    display: flex;
    list-style-type: none;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
}

.menu li a {
    background-color: rgb(255, 0, 136);
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: bold;
}
