*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    background-color: rgb(245, 243, 238);
    border-bottom: 1px solid rgb(230, 223, 211);
    -webkit-box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2); 
    box-shadow: 0px -2px 9px 5px rgba(0,0,0,0.2);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #f5f3ee;
}

.menu {
    display: flex;
    list-style-type: none;
    flex: 1;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.menu li a {
    padding: 10px 25px;
    border-radius: 5px;
    text-decoration: none;
    color: #575759;
    font-size: 22px;
}

.logo {
    margin-left: 20px;
}

