footer {
    width: 80%;
    margin: 50px auto;
    background-color: #f5f3ee;
    border-top: 1px solid silver;
}

.paragraph-footer {
    text-align: center;
    margin-top: 50px;
    color: #575759;
}