a {
    text-decoration: none;
}

.detail-container {
    width: 50%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
    "detail-title detail-title"
    "detail-img detail-description-wrapper"
    "back-button detail-description-wrapper";
}

.detail-description-wrapper {
    grid-area: detail-description-wrapper;
}

.detail-title {
    grid-area: detail-title;
    margin: 20px;
    color: #b39864;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.detail-img {
    grid-area: detail-img;
    width: 250px;
    margin: 20px;
}

.detail-description {
    color: #575759;
    margin: 10px auto;
    line-height: 30px;
    margin: 20px;
}

.detail-stock {
    color: #575759;
    margin: 10px auto;
    line-height: 30px;
    margin: 20px;
}

.detail-price {
    color: #575759;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-left: 20px;
}

.back-button {
    grid-area: back-button;
    width: 70px;
    height: 35px;
    color: white;
    background-color: #b39864;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}

.back-button:hover {
    background-color: #c4ab7c;
}

.add-button {
    width: 70px;
    height: 35px;
    color: white;
    background-color: #b39864;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #c4ab7c;
}
