.item-detail-container {
    display: flex;
    justify-content: center;
}

.count-container {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.count-cant {
    width: 200px;
    background-color: white;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
}

.button-count {
    border: none;
    background-color: white;
    color: grey;
    font-size: 30px;
    padding: 0 15px;
    cursor: pointer;
}

.button-function {
    color: white;
    background-color: #b39864;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: rgb(252, 247, 247);
    padding:  10px 15px;
    border-radius: 10px;
    margin-top: 15px;
}
 
.button-function:hover {
    background-color: #c4ab7c;
}