.title-category {
    width: 90%;
    margin: 0 auto;
    padding-left: 20px;
    margin-top: 40px;
    color: #b39864;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.items {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 10px auto;
}

